APP_ENV=development

SERVER_HOST=localhost
SERVER_PORT=3000
SESSION_SECRET=mmW2fAYXuXr7plnmIS2obTyE8mJ93uxM_-iwdfIXjN_9QZeHayqfMgLsH_-GQO6HgD9eR0VSVlWoef82PsLBS4EIcf0ACEimsvGVQ-f8rs39WWJEODj2_DfKEfQCTxut7_7mx0oKVDJ5FVw7FKQn7s0qJZQjynHDN7UxjFgOWLRO7ZtLQwH6ix62zmAr4L_JiOWqzPwxoCCchzebEWlZODoPG2up64_IdJRjOc9RAqoHGUsLZZxJIDlC5kQGoJWlpswCRVOJCkGDj6luSi9n6Xn03pxhpzlCX7kNTw-eZIcTFKuyQHK6JrKF7Kxn0-NXQ5FIloAV1rndqJR4OmW0zQ

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = elmer.db.elephantsql.com
TYPEORM_USERNAME = yzhznbdk
TYPEORM_PASSWORD = nE34jjEMS6TqLBy2j-ujfKrXvfDDmQd8
TYPEORM_DATABASE = yzhznbdk
TYPEORM_PORT = 5432
TYPEORM_MIGRATIONS_RUN = true
TYPEORM_LOGGING = true
TYPEORM_SSL = true
TYPEORM_ENTITIES = ./dist/src/entity/**/*.js
TYPEORM_MIGRATIONS = ./dist/src/migration/**/*.js
